<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IFB102 Mini-project Admin Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <div class="header">
        <h1 class="heading">Login to admin dashboard</h1>
        <p class="description">{{ state }}</p>
    </div>

    <form method="POST" class="login centered">
        <input class="input" type="password" name="pin" placeholder="Enter PIN">
    </form>

</body>

</html>