<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IFB102 Mini-project</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
  <div class="header">
    <h1 class="heading">Multi-purpose video and image tool</h1>
    <p class="description">This website can download youtube videos and upscale images by 2x.</p>
  </div>

  <div class="button-container">
    <button class="button"><a href="/youtubedl">YouTubeDL</a></button>
    <button class="button"><a href="/twitterdl">TwitterDL</a></button>
    <button class="button"><a href="/waifu2x">Waifu2x</a></button>
  </div>
</body>

</html>